<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- DataIntegrity Module Properties -->
	<id>dataintegrity</id>
	<name>DataIntegrity Module</name>
	<version>1.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Nimantha Baranasuriya</author>
	<description>
			
	</description>
	<activator>@MODULE_PACKAGE@.DataIntegrityModuleActivator</activator>
	<!-- /DataIntegrity Module Properties -->
	
</module>
