<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- DataIntegrity Module Properties -->
	<id>dataintegrity</id>
	<name>DataIntegrity Module</name>
	<version>1.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Nimantha Baranasuriya</author>
	<description>An OpenMRS Module to check data integrity</description>
	<activator>@MODULE_PACKAGE@.DataIntegrityModuleActivator</activator>
    <updateURL/>
    <require_version/>
	<!-- /DataIntegrity Module Properties -->
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<!-- /Extensions -->
	
	<!-- Priviledges -->
	<privilege>
        <name>Run Data Integrity Tests</name>
        <description>Ability to run data integrity tests</description>
    </privilege>
	<!-- /Priviledges -->
	
	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!-- Hibernate Mapping -->
	<mappingFiles>
        DataIntegrityTemplate.hbm.xml
    </mappingFiles>
    <!-- /Hibernate Mapping -->
    
    <!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<servlet>
		<servlet-name>template</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.servlet.TemplateServlet</servlet-class>
	</servlet>
	<!-- Servlets -->
</module>
