<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- DataIntegrity Module Properties -->
	<id>dataintegrity</id>
	<name>DataIntegrity Module</name>
	<version>1.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Nimantha Baranasuriya</author>
	<description>An OpenMRS Module to check data integrity</description>
	<activator>@MODULE_PACKAGE@.DataIntegrityModuleActivator</activator>
    <updateURL/>
    <require_version/>
	<!-- /DataIntegrity Module Properties -->
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<!-- /Extensions -->
	
	<!-- Privileges -->
	<privilege>
        <name>Run Integrity Checks</name>
        <description>Ability to run data integrity checks</description>
    </privilege>
    <privilege>
        <name>Manage Integrity Checks</name>
        <description>Ability to manage data integrity checks</description>
    </privilege>
    <privilege>
        <name>View Integrity Checks</name>
        <description>Ability to view integrity checks</description>
    </privilege>
    <privilege>
        <name>View Integrity Check Results</name>
        <description>Ability to view integrity check results</description>
    </privilege>
    <privilege>
        <name>Run Integrity Check Repairs</name>
        <description>Ability to run integrity check repairs</description>
    </privilege>
	<!-- /Privileges -->
	
	<!-- Required Global Properties -->
	<globalProperty>
		<property>dataintegrity.actionServerUrl</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>
			Url for the production server to be used for correction.
		</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!-- Hibernate Mapping -->
	<mappingFiles>
        DataIntegrityCheck.hbm.xml
		DataIntegrityResults.hbm.xml
    </mappingFiles>
    <!-- /Hibernate Mapping -->
    
    <!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	<!-- commented out ... let's worry about this later
	<servlet>
		<servlet-name>template</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.servlet.TemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>results</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.servlet.ResultsServlet</servlet-class>
	</servlet>
	 -->
	<!-- Servlets -->
</module>
