<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Bahmni</author>
	<description>
		Module for performing data integrity checks on the system.
	</description>

	<activator>@MODULE_PACKAGE@.Activator</activator>

	<require_version>${openMRSRuntimeVersion}</require_version>

	<mappingFiles>
		DataintegrityResult.hbm.xml
		DataintegrityRule.hbm.xml
	</mappingFiles>
</module>

