Data Integrity Checks Summary

#if(${runs.isEmpty()})
No integrity check results exist at this time.
#else
#foreach ($run in $runs) 
#set ($check = $run.getIntegrityCheck())

${check.getName()} - #if(${run.getCheckPassed()})PASSED#{else}FAILED#end

Failed count: ${run.getTotalCount()}
Date: ${run.getDateCreated()}
#end
#end

Sent from OpenMRS