<html>
<head></head>
<body>
	<h3><u>Data Integrity Checks Summary</u></h3>
	<br />
#if(${runs.isEmpty()})
	<i>No integrity check results exist at this time.</i>
#else
	<table style="border:1px solid #ccc" cellpadding='10'>
		<tr bgcolor='#ccc'>
			<th>Id</th>
			<th>Name</th>
			<th>Results</th>
			<th>Failed Count</th>
			<th>Run Date</th>
		</tr>
#set ($count = 0)
#foreach ($run in $runs)
#set ($check = $run.getIntegrityCheck())
		<tr#if($count % 2 == 1) bgcolor='#eee'#end>
			<td>$check.getId()</td>
			<td><a href="${serverPath}/module/dataintegrity/results.list?checkId=${check.getId()}">$check.getName()</a></td>
#if(${run.getCheckPassed()})
			<td bgcolor='lightgreen' align='center'>Passed</td>
#else
			<td bgcolor='lightpink' align='center'>Failed</td>
#end
			<td>$run.getTotalCount()</td>
			<td>$run.getDateCreated()</td>
		</tr>
#set ($count = $count + 1)
#end
	</table>
#end
	<br />
	<h4>Sent from OpenMRS</h4>
</body>
</html>
